extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Averi Johnson

        p.lead.text-light
          | Full Stack JavaScript Developer (in the making).

        .portfolio-bio
          p
            | Over the course of my life and my journey in becoming a Developer, I've learned many valuable lessons but the 2 that kept punching me in the face are:
          i Fear is not real, In life there are no do-overs and I'm the only person standing between me and Greatness.
          p
            | Everytime I'm afraid of something
            | Everyday, I strive to be a better woman than the one I was the day before, some days are epic failures but I refuse to give up.
            | Life is a marathon not a race, so I'm kind to myself, I often laugh at myself
            |Who am I? I am FULL of LIFE, I am RESILIENT, I am COURAGEOUS
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScript
          li Node.js
          li HTML/CSS
          li AJAX
          li Fetch API
          li jQuery
          li ES2016
          li Fetch API
          li Fetch API

        h6 Contact Info

        ul
          li 720.229.9593
          li averimj@live.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/averijohnson/') LinkedIn
        a.button.expanded(href='https://github.com/averimj/') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
