extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Averi Johnson

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | As a growing woman with a growing mind, I am courageous in everything I do. I bring laughter and lots of smiles into the lives of those I come in contact with and insist on having fun all the days of my life.
            |I exceed all expectations and limitations set before me and live a life, not of perfection but of character. I am a creative and empowering being, whose balanced and unselfish.
          p
            B I AM EXTRA-ORDINARY ... I AM RESILIENT ... I AM UNSTOPPABLE!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li JavaScript
          li Node.js
          li HTML/CSS
          li AJAX
          li Fetch API
          li jQuery
          li ES2015
          li GIT
          li npm

        h6 Contact Info

        ul
          li 720.229.9593
          li averimj@live.com

        a.button.expanded(href='https://www.linkedin.com/in/averijohnson/') LinkedIn
        a.button.expanded(href='https://github.com/averimj/') GitHub
        a.button.expanded(href='https://twitter.com/MsSugeAveri') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
