extends layout.pug

block content
  article.grid-container.portfolio-intro
    div

      h1 Junior Developer Portfolio

      p.lead.text-light
        | This Portfolio showcases the last six projects I’ve done while in the Treehouse Apprenticeship Program(TAP). The portfolio itself being the sixth project and displays the skills and knowledge gained while pursuing a career as a Junior Developer.
  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      .cell
      each project in projects
        a(href=`/project/${project.id}`)
          img.thumbnail(src=`${project.image_urls[0]}`)
          h5= project.project_name
